

<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
>
<head>
    <title>my-mock</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/jquery-ui-timepicker-addon.min.css}">
    <link rel="stylesheet" th:href="@{/jqueryui/jquery-ui.min.css}">
    <link rel="stylesheet" th:href="@{/css/crud.css}">

    <script th:src="@{/js/jquery-3.5.1.min.js}" ></script>
    <script th:src="@{/jqueryui/jquery-ui.min.js}"></script>
    <script th:src="@{/js/jquery-ui-timepicker-addon.min.js}"></script>
    <script th:src="@{/js/jquery-ui-timepicker-addon-i18n.min.js}"></script>
    <script th:src="@{/js/jquery.validate.min.js}"></script>
    <!--<script th:src="@{/js/localization/messages_zh.js}" type="text/javascript"></script>-->
</head>
<body>
<div th:replace="~{fragments/header::header}"></div>
<a th:href="@{/mock}">[List]</a>

<div class="content-root">

    <div class="form-container">
        <form id="createform" th:action="@{/mock/save}" method="POST"
              th:object="${myMockModel.myMockDto}">

            <input type="hidden" name="id" th:value="*{id}">
            <table>

    <tr><td><label>uri:</label></td><td width="75%"><input type="text" id="uri" name="uri"  required="required" maxlength="50" th:value="*{uri}" /><label> &nbsp;</label></td></tr>
    <tr><td><label>regexMatch:</label></td><td width="75%"><input type="checkbox" id="regexMatch" name="regexMatch"  th:checked="*{regexMatch}" /><label> &nbsp;</label></td></tr>
    <tr><td><label>method:</label></td><td width="75%"><input type="text" id="method" name="method"  required="required" maxlength="50" th:value="*{method}" /><label> &nbsp;</label></td></tr>
    <tr><td><label>status:</label></td><td width="75%"><input type="number" id="status" name="status"   maxlength="50" th:value="*{status}" /><label> &nbsp;</label></td></tr>
    <tr><td><label>headers:</label></td><td width="75%"><textarea type="text" id="headers" name="headers"  rows="10" cols="50"  maxlength="65535" th:text="*{headers}" ></textarea><label> &nbsp;</label></td></tr>
    <tr><td><label>body:</label></td><td width="75%"><textarea type="text" id="body" name="body"  rows="10" cols="50"  maxlength="65535" th:text="*{body}" ></textarea><label> &nbsp;</label></td></tr>

                <tr><td colspan="2" style="text-align: center;"><input type="submit" style="width:150px;" value="Save"><label>&nbsp;</label></td></tr>
            </table>

        </form>
    </div>

</div>

<script th:inline="javascript">
/*<![CDATA[*/

$(function() {
    $("form").submit(function(e) {
        var docHeight = $(document).height();
        $('body').append('<div id="selft-widow-shadow"></div>');
        $('#selft-widow-shadow')
        .height(docHeight)
        .css({
        'opacity': .4,
        'position': 'absolute',
        'top': 0,
        'left': 0,
        'background-color': 'black',
        'width': '100%',
        'z-index': 9003
        });
        $('#selft-widow-shadow').focus();
        setTimeout(function(){$("#selft-widow-shadow").remove();}, 1000);
    });

    
        
        
        
        
        
        
    

    $("#createform").validate();

});


/*]]>*/
</script>

<div th:replace="~{fragments/footer::footer}"></div>
</body>
</html>


